body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cardHello{
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.container .card-car-container {
  border-radius: 8px;
  overflow: hidden;
}

.container .card-car-container .card-car {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .card-car-container .card-car.sedan {
  background-color: #e38826;
}

.container .card-car-container .card-car.sedan .card-button {
  color: #e38826;
}

.container .card-car-container .card-car.suvs {
  background-color: #006970;
}

.container .card-car-container .card-car.suvs .card-button {
  color: #006970;
}

.container .card-car-container .card-car.luxury {
  background-color: #004241;
}

.container .card-car-container .card-car.luxury .card-button {
  color: #004241;
}

.container .card-car-container .card-car.luxury .card-button:hover {
  background-color: transparent;
  color: white;
}

.container .card-car-container h2 {
  color: #f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
}

.container .card-car-container .card-button {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid white;
}

.back_suvs{
  background-color: darkcyan;
  color: white;
  height: 500px;
}

.rounded-2{
  display: flex;
  justify-content: center;

  background-color: white;
  width: 50%;
  text-decoration: none;
  color: darkcyan;
  font-size: 20px;
  padding: 10px;
  margin: 40px;
  border: none;
}

.title_suvs{
  margin: 40px;
}

.content_suvs{
  margin: 40px;
}

.orderCards{
  display: flex;
  justify-content: center;
  margin: 10% 20% 10% 20%;
}